


body{
    background-image: url(https://i.postimg.cc/cL7ZGhMm/front-door-para.jpg);
    
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; 
    font-size: 18px;
    color: whitesmoke;
}

section{
    margin-top: 50px;
}